#videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

}

.videoPlayer{
    background-color: black;
    width: 100%;
    height: 300px;
}

#vp2{
    display: none;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: aqua;
    width: max-content;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -10%);
}

.control_container i{
    cursor: pointer;
}